/*HOME styling*/
/*setting the style for the body of all pages*/
body {
    font-size: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #78ecec;
    font-family:Helvetica Neue, Helvetica, sans-serif;
}

#main_title {
    height: 100px;
    background-color: #58afaf;
    margin: 0;
    font-style: italic;
    padding: 0;
}

/*1em is 16px, em equals to the current font size*/
#main_title p {
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
    margin: 5px 20px 0;
}

nav.skew-menu{
    text-align:right;
    padding: 5px 15px 10px;
    margin-top:0;
}

/*display: inline-block allows to set a width and height on the element.*/
/*Also, with display: inline-block, the top and bottom margins/paddings are respected*/
/*list-style:none define list item marker*/
/*a transformation that skews an element on the 2D plane; it streches the boxes around menu*/
nav.skew-menu > ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
    transform:skew(-25deg);
}

nav.skew-menu > ul > li {
    background: #fff;
    float: left;
    border-right: 2px solid #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #555;
    font-weight: bolder;
    /* Apply to all changed properties; transition colour when hovered and change colour in a smooth way */
    transition: all 0.3s linear;
}

/*stylel the first element in the list*/
nav.skew-menu > ul > li:first-child {
    border-radius: 7px 0 0 7px;
}

nav.skew-menu > ul > li:last-child {
    border-right: none;
    border-radius: 0 7px 7px 0;
}

nav.skew-menu > ul > li:hover {
    background: #eee;
    color: tomato;
}

nav.skew-menu > ul > li > a {
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration:none;
    /*the boxes are stretched, this property will prevent text to stretch as well.*/
    transform:skew(25deg);
}

a {
    color: black;
}

.post-list {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.post-box {
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 0 20px 0;
}

.post-like {
    display: flex;
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 0 20px 0;
}

.post-title {
    margin: 0;
    padding: 0;
}

label.post-author {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

label.post-title {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

label.post-message {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

input[type=text].post-title {
    height: 30px;
    font-size: large;
    border: 1px solid #2b2b2c;
    border-radius: 5px;
    padding: 3px;
}

textarea.post-message {
    width: 80%;
    height: 150px;
    font-size: large;
    border: 1px solid #2b2b2c;
    border-radius: 5px;
    padding: 3px;
}

.post-date {
    margin: 0;
    padding: 0;
}

.post-author {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: large;
}

.post-message {
    margin: 0;
    padding: 10px 0 10px;
    font-size: large;
}

p.post-message1 {
    padding: 5px 0 5px 0;
    margin: 1px;
    border-style: solid;
    border-color: #fdfdfe;
    border-width: 1px 0 10px 0;
    font-size: large;
}

div.post-message1 {
    margin-top: 5px;
    padding: 2px;
    border: 2px groove #b6b6b6;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 10px 0 40px;
}

.comment-box {
    margin: 5px auto 0 auto;
    background-color: #666;
    color: antiquewhite;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    border: 2px solid black;
}

.comment-box p {
    margin-left: 40px;
}

.comment-box-flex {
    display: flex;
    margin: 5px auto 0 auto;
    background-color: #666;
    color: antiquewhite;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    border: 2px solid black;
}

/* Basic button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #1f6464;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.page-desc1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-desc1 > h2 {
    flex: 6;
}

.page-desc1 > .button {
    flex: 1;
}

.hr-page {
    width: 85%;
}

.page-desc1 .button.push-left-btn {
    margin-left: auto;
    margin-right: 10px;
}

a.button.push-left-btn {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.show-like {
    display: flex;
    align-items: center
}

div.push-left-like {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
}

p.push-left-like {
    font-size: 20px;
    margin-right: 10px;
}

.post-desc1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-desc1 > h2 {
    flex: 6;
}

.post-desc1 > .button {
    flex: 1;
}

.is-invalid {
    background: red;
}

input[type=text].like-user-name {
    margin: 5px 0 10px 0;
    font-size: larger;
}
