
body {
    font-size: 100%;
    max-width: 900px;
    margin: auto;
    background-color: #78ecec;
    font-family:Helvetica Neue, Helvetica, sans-serif;
}

#main_title {
    height: 100px;
    background-color: #58afaf;
    margin: 0px;
    font-style: italic;
    padding: 0;
}

#main_title p {
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
    margin: 5px 20px 0;
}

nav.skew-menu{
    text-align:right;
    margin-top:0px;
    padding: 5px 15px 10px;
}

nav.skew-menu > ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
    transform:skew(-25deg);
}

nav.skew-menu > ul > li {
    background: #fff;
    float: left;
    border-right: 2px solid #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #555;
    font-weight: bolder;
    transition: all 0.3s linear;
}

nav.skew-menu > ul > li:first-child {
    border-radius: 7px 0 0 7px;
}

nav.skew-menu > ul > li:last-child {
    border-right: none;
    border-radius: 0 7px 7px 0;
}

nav.skew-menu > ul > li:hover {
    background: #eee;
    color: tomato;
}

nav.skew-menu > ul > li > a {
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration:none;
    transform:skew(25deg);
}

.tg {
    border: 1px solid #b3adad;
    border-collapse:separate;
    padding: 1px;
    width: 100%;
    height: 200px;
}

.posts-title-table {
    width: 100%;
}

.posts-title-row {
    width: 100%;
}

.posts-title-col1 {
    width: 90%;
}

.posts-title-col2 {
    width: 10%;
    text-align: right;
}

.tg .tg-col-date {
    width: 10%;
}

.tg .tg-col-title {
    width: 40%;
}

.tg .tg-col-author {
    width: 25%
}

.tg .tg-col-comments {
    width: 7%;
}

.tg .tg-col-likes {
    width: 6%;
}

.tg .tg-col-edit {
    width: 6%;
}

.tg .tg-col-del {
    width: 6%;
}

.tg th {
    border: 1px solid #b3adad;
    padding:5px;
    background-color:#b9c9fe;
    color:#039;
    font-family:Arial,
    sans-serif;
    font-size:14px;
    font-weight:normal;
}

.tg td {
    border: 1px solid #b3adad;
    text-align: left;
    padding:5px;
    background-color:#e8edff;
    color:#669;
    font-family:Arial, sans-serif;
    font-size:14px;
}

.tg .tg-hd-attr {
    text-align: center;
    top: -1px;
    vertical-align: center;
    will-change: transform
}

.tg .tg-row1-attr {
    background-color: #D2E4FC;
    text-align: left;
    vertical-align: center
}

.tg .tg-row2-attr{
    text-align:left;
    vertical-align:center;
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}

a {
    color: black;
}

.prepend-10px {
    margin: 0 0 0 10px;
}

.prepend-20px {
    margin: 0 0 0 20px;
}

.append-10px {
    margin: 0 10px 0 0;
}

.append-20px {
    margin: 0 20px 0 0;
}

.post-list {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.post-box {
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 0 20px 0;
}

.post-title {
    margin: 0;
    padding: 0;
}

label.post-author {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

label.post-title {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

label.post-message {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0 5px 5px;
    font-size: large;
}

input[type=text].post-title {
    height: 30px;
    font-size: large;
    border: 1px solid #2b2b2c;
    border-radius: 5px;
    padding: 3px;
}

textarea.post-message {
    width: 80%;
    height: 150px;
    font-size: large;
    border: 1px solid #2b2b2c;
    border-radius: 5px;
    padding: 3px;
}

.post-date {
    margin: 0;
    padding: 0;
}

.post-author {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: large;
}

.post-message {
    margin: 0;
    padding: 10px 0 10px;
    font-size: large;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 10px 0 40px;
}

.comment-box {
    margin: 5px auto 0 auto;
    background-color: #666;
    color: antiquewhite;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    border: 2px solid black;
}

.comment-box p {
    margin-left: 40px;
}

/* Basic button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #1f6464;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
}

.page-desc1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-desc1 > h2 {
    flex: 6;
}

.page-desc1 > .button {
    flex: 1;
}

.hr-page {
    width: 85%;
}

.page-desc1 .button.push-left-btn {
    margin-left: auto;
    margin-right: 10px;
}

.post-desc1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-desc1 > h2 {
    flex: 6;
}

.post-desc1 > .button {
    flex: 1;
}

.is-invalid {
    background: red;
}
