.prepend-10px {
    margin: 0 0 0 10px;
}

.prepend-20px {
    margin: 0 0 0 20px;
}

.append-10px {
    margin: 0 10px 0 0;
}

.append-20px {
    margin: 0 20px 0 0;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-box {
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 10px 0 40px;
}

.comment-box {
    margin: 5px auto 0 auto;
    background-color: #666;
    color: antiquewhite;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    border: 2px solid black;
}

.comment-box p {
    margin-left: 40px;
}
